.shimmer-wrapper {
  animation: loading 1s infinite;
  @apply absolute top-0 left-0 w-full h-full;
}

.shimmer {
  box-shadow: 0 0 2rem 2rem rgba(255, 255, 255, 0.2);
  @apply w-1/4 h-full bg-white bg-opacity-20 -skew-x-12;
}

.dark .shimmer {
  box-shadow: 0 0 2rem 2rem rgba(255, 255, 255, 0.05);
  @apply w-1/4 h-full bg-white bg-opacity-5 -skew-x-12;
}

@keyframes loading {
  0% {
    transform: translateX(-150%);
  }
  50% {
    transform: translateX(-45%);
  }
  100% {
    transform: translateX(150%);
  }
}
