@import 'HighLight.css';

.ProseMirror {
  @apply w-full min-w-full prose md:prose-lg lg:prose-xl xl:prose-2xl dark:prose-invert 
    px-4 md:px-12 pb-12 
    selection:bg-blue-200 dark:selection:bg-stone-600 transition-colors;
}

.ProseMirror:focus {
  @apply outline-none;
}

.ProseMirror > * + * {
  margin-top: 0.75em;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
  line-height: 1.1;
}

.ProseMirror pre {
  font-family: 'JetBrainsMono', monospace;
  @apply rounded-2xl px-4 py-2 bg-stone-900 text-white;
}

.ProseMirror pre code {
  background: none;
  color: inherit;
  font-size: 0.8rem;
  padding: 0;
}

.ProseMirror .is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
  font-family: attr(data-current-font);

  @apply text-gray-300 dark:text-stone-700 transition-colors;
}

.menu_button {
  @apply w-8 h-8 button flex items-center justify-center;
}

.menu_button.active {
  @apply ring-1 bg-gray-300 dark:bg-stone-800 
    text-gray-600 dark:text-stone-200 
    border-blue-500 ring-blue-500 dark:border-blue-700 dark:ring-blue-700;
}

.menu_button:hover svg,
.menu_button:focus svg {
  @apply text-gray-900 dark:text-white;
}

.menu_select {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, box-shadow;

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  @apply button relative w-48 h-8 rounded-md shadow-sm pl-3 pr-10 py-1.5 text-left cursor-default sm:text-sm border;
}
